body {
  background-color: rgb(55, 63, 71)
}

div {
  color: rgb(192, 225, 255)
}

h1 {
  color: green;
}

.notification {
  background-color: lightgreen;
  padding: 10px;
  border: 3px solid green;
  margin-bottom: 10px;
}

.notification.success {
background-color: lightgreen;
border-color: green;
color: rgb(0, 145, 19);
}

.notification.error {
background-color: lightcoral;
border-color: red;
color: rgb(145, 0, 0);
}
